{
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
