# Details 
* [Function Name] (Marketing Cloud Commit) 
* [API Name] (MC_Commit) 
* [Type] (Custom) 
* [Description] (Commit Marketing Cloud changes) 

# Configuration
* [Image name] (0onz6fxsbyolcopmojdzlxa5vzgsts-sfmc-devtools:v1.0) 
* [Timeout] (10)
* [Worker Size] (M)


# Paramters needs to be configured for Marketing Cloud commit function
* [git_json] ({$Context.Repository.Credential}) 
* [feature_branch] ({$Context.JobExecution__r.DataJson.featureBranchName}) 
* [main_branch] ({$Pipeline.copado__Main_Branch__c}) (not {$Context.JobExecution__r.DataJson.baseBranch})
* [mcdev_version] ({$Pipeline.Property.mc_devtools_version}) 
* [commit_message] ({$Context.JobExecution__r.DataJson.message})
* [metadata_file] ({$Context.JobExecution__r.DataJson.fileWithSelectedChanges})
* [envVariablesSource] ({$Source.apex.EnvironmentVariables})
* [envVariablesSourceChildren] ({$Source.apex.mcdo_ChildEnvironmentVariables})
* [source_mid] ({$Source.Property.mid})
* [recreateFeatureBranch] ({$Context.JobExecution__r.DataJson.recreateFeatureBranch})
* [credentials] ({$Pipeline.Property.mc_credentials})
* [credentialNameSource] ({$Source.Property.credential_name})
* [debug] (true)
