# Details 
* [Function Name] (Marketing Cloud Deploy) 
* [API Name] (MC_Deploy) 
* [Type] (Custom) 
* [Description] (Deploy Marketing Cloud changes
                 When executing this function as a test, a context Id is required. 
                 To get the value, go to a job step linked to a MC promotion job template, 
                 and copy the record Id from the URL.) 

# Configuration
* [Image Name] (copado-function-core:v1) 

# Paramters needs to be configured for Marketing Cloud deploy function
* [git_json] ({$Context.Repository.Credential}) 
* [mcdev_version] ({$Pipeline.Property.mc_devtools_version}) 
* [promotion] ({$Context.JobExecution__r.Deployment__r.Promotion__r.Name}) 
* [credentialName] ({$Pipeline.Property.mc_credential_name}) 
* [clientId] ({$Pipeline.Property.mc_client_id})
* [clientSecret] ({$Pipeline.Property.mc_client_secret})
* [tenant] ({$Pipeline.Property.mc_tenant})
* [toBranch] ({$Context.JobExecution__r.DataJSON.destinationBranchName}) 
* [promotionBranch] ({$Context.JobExecution__r.DataJSON.promotionBranchName})
* [merge_strategy] (theirs)
* [enterprise_id] ({$Pipeline.Property.enterprise_id})
* [metadataFileId] ({$Context.JobExecution__r.DataJson.fileWithSelectedChanges})
* [metadata_file] ({$Context.JobExecution__r.DataJson.fileWithSelectedChanges})
* [main_branch] ({$Pipeline.copado__Main_Branch__c})