# Details 
* [Object Name] (Environment) 
* [API Name] (copado__Environment__c) 
* [Type] (Custom) 


# System Properties need to be configured for Marketing Cloud retrieve/commit/deploy functions

* credential_name (MyCredentialName) /* whatever it was named during initial setup of mcdev */
* mid (123456798)
