# Details 
* [Function Name] (Marketing Cloud Promote) 
* [API Name] (MC_Promote) 
* [Type] (Custom) 
* [Description] (Promote Marketing Cloud changes) 

# Configuration
* [Image Name] (copado-multicloud-git-utils:v1) 
* [Timeout] (5)
* [Worker Size] (S)

# Paramters needs to be configured for Marketing Cloud promote function
* [git_json] ({$Context.Repository.Credential}) 
* [user_stories] ({$Context.JobExecution__r.DataJson.userStoryBranches}) 
* [promotion] ({$Context.JobExecution__r.DataJson.promotionBranchName}) 
* [target_branch] ({$Pipeline.copado__Main_Branch__c}) (not {$Context.JobExecution__r.DataJson.destinationBranchName})
* [tag] ({$Job.ExecutionParent.Release__r.Version__c}) 
* [merge_strategy] (theirs) 