# Details 
* [Function Name] (Marketing Cloud Retrieve) 
* [API Name] (MC_Retrieve) 
* [Type] (Custom) 
* [Description] (Retrieve metadata from Marketing Cloud Repository) 

# Configuration
* [Image name] (0onz6fxsbyolcopmojdzlxa5vzgsts-sfmc-devtools:v1.0) 
* [Timeout] (10)
* [Worker Size] (M)

# Paramters needs to be configured for Marketing Cloud retrieve function
* [envId] () 
* [main_branch] ({$Pipeline.copado__Main_Branch__c}) 
* [mcdev_version] ({$Pipeline.Property.mc_devtools_version}) # leave empty unless you want to use a specific version of the devtools installed on-the-fly
* [git_json] ({$Context.Repository.Credential}) 
* [envVariablesSource] ({$Source.apex.EnvironmentVariables})
* [envVariablesSourceChildren] ({$Source.apex.mcdo_ChildEnvironmentVariables})
* [source_mid] ({$Source.Property.mid})
* [credentials] ({$Pipeline.Property.mc_credentials})
* [credentialNameSource] ({$Source.Property.credential_name})
* [debug] (true)
* [installMcdevLocally] (false)