# Details 
* [Function Name] (Marketing Cloud Retrieve) 
* [API Name] (MC_Retrieve) 
* [Type] (Custom) 
* [Description] (Retrieve metadata from Marketing Cloud Repository) 

# Configuration
* [Image name] (0onz6fxsbyolcopmojdzlxa5vzgsts-sfmc-devtools:v1.0) (backup:copado-multicloud-git-utils:v1)
* [Timeout] (10)
* [Worker Size] (M)

# Parameters needs to be configured for Marketing Cloud retrieve function
* credentialNameSource ({$Source.Property.credential_name})
* credentials ({$Pipeline.Property.mc_credentials})
* git_json ({$Context.Repository.Credential}) 
* main_branch ({$Pipeline.copado__Main_Branch__c}) 
* source_mid ({$Source.Property.mid})
* source_sfid ({$Source.Id}) 
* [debug] ({$Pipeline.Property.debug})
* [installMcdevLocally] ({$Pipeline.Property.installMcdevLocally})
* [mcdev_version] ({$Pipeline.Property.mc_devtools_version}) # leave empty unless you want to use a specific version of the devtools installed on-the-fly