# Details 
* [Function Name] (Marketing Cloud Retrieve) 
* [API Name] (MC_Retrieve) 
* [Type] (Custom) 
* [Description] (Retrieve metadata from Marketing Cloud Repository) 

# Configuration
* [Image Name] (copado-function-core:v1) 

# Paramters needs to be configured for Marketing Cloud retrieve function
* [envId] () 
* [main_branch] (master) 
* [mcdev_version] ({$Pipeline.Property.mc_devtools_version}) 
* [git_json] ({$Context.Repository.Credential}) 
* [credentials] ({$Pipeline.mcdo_credentials__c})
* [credentialNameSource] ({$Source.Property.credential_name})
