debug=true

clientId=UPDATE ME
clientSecret=UPDATE ME
credentialName="UPDATE ME"
enterprise_id=UPDATE ME
tenant=UPDATE ME

#parent id to where we attach files to. keep empty locally
envId=

main_branch=master

mcdev_version="C:\Git\sfmc-devtools"

LOCAL_DEV=true
