# Details 
* [Function Name] (Marketing Cloud Commit) 
* [API Name] (MC_Commit) 
* [Type] (Custom) 
* [Description] (Commit Marketing Cloud changes) 

# Configuration
* [Image name] (0onz6fxsbyolcopmojdzlxa5vzgsts-sfmc-devtools:v1.0) (backup:copado-multicloud-git-utils:v1)
* [Timeout] (10)
* [Worker Size] (M)


# Parameters needs to be configured for Marketing Cloud commit function
* commit_message ({$Context.JobExecution__r.DataJson.message})
* credentialNameSource ({$Source.Property.credential_name})
* credentials ({$Pipeline.Property.mc_credentials})
* feature_branch ({$Context.JobExecution__r.DataJson.featureBranchName}) 
* git_json ({$Context.Repository.Credential}) 
* main_branch ({$Pipeline.copado__Main_Branch__c}) (not {$Context.JobExecution__r.DataJson.baseBranch})
* metadata_file ({$Context.JobExecution__r.DataJson.fileWithSelectedChanges})
* recreateFeatureBranch ({$Context.JobExecution__r.DataJson.recreateFeatureBranch})
* source_mid ({$Source.Property.mid})
* [debug] ({$Pipeline.Property.debug})
* [installMcdevLocally] ({$Pipeline.Property.installMcdevLocally})
* [mcdev_version] ({$Pipeline.Property.mc_devtools_version}) # leave empty unless you want to use a specific version of the devtools installed on-the-fly