"metaDataTypes": {
    "retrieve": [
        "asset-archive",
        "asset-asset",
        "asset-audio",
        "asset-block",
        "asset-code",
        "asset-document",
        "asset-image",
        "asset-message",
        "asset-other",
        "asset-rawimage",
        "asset-template",
        "asset-textfile",
        "asset-video",
        "automation",
        "dataExtract",
        "fileTransfer",
        "importFile",
        "script",
        "query",
        "dataExtension",
        "emailSendDefinition",
        "mobileKeyword",
        "role",
        "triggeredSendDefinition"
    ],
    "documentOnRetrieve": ["accountUser", "automation", "dataExtension", "role"]
}
