# Details 
* [Function Name] (Marketing Cloud Init) 
* [API Name] (MC_Init) 
* [Type] (Custom) 
* [Description] (Initializes mcdev in an empty Marketing Cloud Repository) 

# Configuration
* [Image name] (0onz6fxsbyolcopmojdzlxa5vzgsts-sfmc-devtools:v1.0) (backup:copado-multicloud-git-utils:v1)
* [Timeout] (10) 
* [Worker Size] (S)

# Parameters needs to be configured for Marketing Cloud init function
* credentialName ({...}) // por o nome?
* client_id ({...}) // não sei onde por ainda
* client_secret ({...}) // não sei onde por ainda
* auth_url ({...}) // não sei onde por ainda
* account_id ({...}) // não sei onde por ainda
* repoUrl ({...})  // não sei onde por ainda
* [debug] ({...}) // não sei onde por ainda
* [installMcdevLocally] ({...}) // não sei onde por ainda