# Details 
* [Object Name] (Pipeline) 
* [API Name] (copado__Pipeline__c) 
* [Type] (Custom) 


# System Properties need to be configured for Marketing Cloud retrieve/commit/deploy functions

* mc_credentials ({/* copied from .mcdev-auth.json*/})
* [debug] (false)
* [installMcdevLocally] (false)
* [mc_devtools_version] (empty | 4.1.1 | #mcdo; required if installMcdevLocally is true) 
* [deployNTimes] (false)
